html, body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;

}


.fa-shopping-cart{
    color: #14597f;
}

.shopping-cart {
  position: relative;
  text-decoration: none;
}

.count {
  position: absolute;
  bottom: -14px; /* Position at the bottom */
  right: -10px;
  background-color: #d9534f; /* Red color for the badge */
  color: white;
  border-radius: 45%; /* Makes the background a circle */
  padding: 1 6px; /* Top/bottom padding 0, left/right padding 5px */
  font-size: 0.75em; /* Adjust the font size as needed */
  min-width: 20px; /* Ensures circle shape */
  height: 20px; /* Height of the circle */
  text-align: center; /* Centers text horizontally */
  line-height: 20px; /* Centers text vertically */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); /* Optional: adds a shadow effect */
}






/* Styling the navbar */
.navbar {
  background-color: #14597f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  border-bottom: 1px solid #0b2d3d;
}

.active{
  padding: 8px;
  border-radius: 5px;
  background-color: #1fb5e9;
}

/* Logo */
.logo img {
  height: 50px;
}

/* Menu navigation */
.menu {
  display: inline-flex;
  max-width: 1200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Menu items */
.menu li {
  padding: 0 5px; 
}

.menu a {
  text-decoration: none;
  color: white; 
  font-weight: bold; 
  
}
.itemhover{
  padding: 8px;
}
.itemhover:hover {
  background-color: #0056b3; 
  border-radius: 5px; 

}

.sticky-footer {
    width: 100%;
    background-color: #eeeeee; 
    color: black;
    text-align: center;
    border-top: 1px solid #cccccc;
    padding: 10px 0; 
    height: 70px;
    padding: 10px 0;
}



.mainContent{
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: auto min-content;
  gap: 20px;
  min-height: 83.2%;
  margin: 0 auto -40px;
}

.right-aligned-img {
    justify-self: end;
}

/* Stylisation du bouton */
.btn {
    display: inline-block;
    background-color: #14597f;
    color: white; 
    text-decoration: none;
    padding: 10px 20px; 
    border: 1px solid #0b2d3d;
    border-radius: 4px; 
    transition: background-color 0.2s ease-out;
    cursor: pointer;
}

.btn:hover {
    background-color: #1fb5e9;
    text-decoration: none; 
}

/* products.html */

.mainContentProd{
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 25% 75%;
}


/* Selected button style */
.selected {
  background-color: #ddf2fb !important;
}

.lateralbuttons {
  background-color: white;
  border: 1px solid #999999;
  border-radius: 4px;
  padding: 10px 24px; /* Some padding */
  width: 80%; /* Set a width if needed */
  text-align: left;
  cursor: pointer;
}

.lateralbuttons:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.lateralbuttons:hover {
  background-color: #f3f3f3;
  transition: background-color 0.2s ease-out;
}

#products-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three columns of equal width */
  gap: 10px; /* This adds space between your grid items */
  padding-bottom: 50px;
}

.numberprod{
  padding-top: 1%;
  display: grid;
  grid-template-columns: 90% 10%; /* Creates three columns of equal width */
}

.item{
  padding-left: 2%;
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 4px;
}

.item:hover{
  background-color: #f3f3f3;
  transition: background-color 0.2s ease-out;
}

.img{
  width: 100%;
}

.textright{
  font-weight: 530;
  padding-right: 3%;
  text-align: right;
}

/* product page */

.mainContentUniqueProd{
  padding-left: 20px;
  padding-right: 20px;
  min-height: 75.4%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 50%; /* Ajuste les colonnes pour qu'elles prennent 50% de la largeur du conteneur */
}

.prodimg{
  max-width: 100%;
  height: auto;
}

.form-control {
  width: 10%;
  border: 1px solid #999999;
  
}

.product-form{
  margin-left: auto; /* Cela pousse le formulaire vers la droite */
  display: flex;
  align-items: center;
  gap: 3px;
  border-radius: 4px;
}

.price-form-container {
  display: flex;
  align-items: center;
  
}

.borderbottomsection{
  border-bottom: 1.3px dashed #999999;
}

/* contact */

#contact-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three columns of equal width */
  gap: 10px; /* This adds space between your grid items */
  padding-bottom: 50px;
}

.sectioninline{
  display: flex;
  flex-direction: column;
  align-items:center;
}

#contact-list{
  border: 1px solid #999999;
  border-radius: 4px;
  padding-top: 1%;
}

/* confirmation */

.confirmationmain{
  min-height: 75%;
  padding-left: 20px;
  padding-right: 20px;
}